# Update .gitignore to ignore your actual venv folder
echo backend/cloud_proj/ > .gitignore
echo frontend/node_modules/ >> .gitignore
echo **/.env >> .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
echo .DS_Store >> .gitignore